<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <php>
        <const name="BASE_URI_" value = "http://192.168.99.100"/>
        <const name="FILE_PATH" value =""/> 
        <const name="TENANT" value="mi"/>
        <const name="USERNAME" value="info@meertens.knaw.nl"/>
        <const name="USER_NUMBER" value="5"/>
        <const name="PASSWORD" value="meertenspassword"/>
        <const name="API_KEY" value="apikey"/>
        <const name="PHP_JOBS_PROCESS" value ="php /app/tools/jobs.php process"/>
      
       <!--  Test Concept -->
       <const name="CONCEPT_collection" value="/api/collections/mi:collection"/>
       <const name="CONCEPT_type_resource" value="http://www.w3.org/2004/02/skos/core#Concept"/>
       
       <!-- test collection(s) -->
       <const name="NUMBER_COLLECTIONS" value ="1"/>
       <const name="COLLECTION_1_code" value ="collection"/>
       <const name="COLLECTION_1_tenant" value ="mi"/>
       <const name="COLLECTION_1_title" value ="collection1"/>
       <const name="COLLECTION_1_description" value =""/>
       <const name="COLLECTION_1_website" value =""/>
       <const name="COLLECTION_1_licensename" value =""/>
       <const name="COLLECTION_1_licenseurl" value =""/>
       <const name="COLLECTION_1_oaibaseurl" value =""/>
       <const name="COLLECTION_1_allowoai" value ="N"/>
       <const name="COLLECTION_1_conceptsbaseurl" value =""/>
       <const name="COLLECTION_1_conceptsbaseurl" value =""/>
       <const name="COLLECTION_1_type_resource" value ="http://www.w3.org/2002/07/owl#Ontology"/>
       <const name="COLLECTION_1_creator" value ="meertens"/>
       <const name="COLLECTION_1_creator_about_suffix" value ="/api/institution/mi"/>
      
    </php>
</phpunit>


