<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <php>
        <const name="BASE_URI_" value = "http://192.168.99.100"/>
        <const name="FILE_PATH" value =""/> 
        <const name="TENANT" value="meertens"/>
        <const name="USERNAME" value="menzo.windhouwer@meertens.knaw.nl"/>
        <const name="API_KEY" value="ky4dbtgsPhH89Vg0"/>
        <const name="PHP_JOBS_PROCESS" value ="php /app/tools/jobs.php process"/>
      
     
       <const name="CONCEPT_type" value="http://www.w3.org/2004/02/skos/core#Concept"/>
       
       <!--  Autocomplete -->
       <const name="RETURN_LABEL" value="returnLabel"/>
       <const name="SEARCH_LABEL" value="searchLabel"/>
       <const name="LANG" value="lang"/>
       <const name="FORMAT" value="format"/>
       <const name="PREF_LABEL" value="prefLabel"/>
       <const name="ALT_LABEL" value="altLabel"/>
       <const name="HID_LABEL" value="hiddenLabel"/>
       <const name="NOTATION" value="notation"/>
       
       <!-- test set (take the data from table collection in MySQL for backward compatibility, or triple store for the completely new version) -->
       <const name="OPENSKOS_SET_code" value ="isocat"/>
       <const name="SET_tenant" value ="meertens"/>
       <const name="SET_title" value ="CLARIN collection"/>
       <const name="SET_description" value =""/>
       <const name="SET_website" value =""/>
       <const name="SET_licensename" value =""/>
       <const name="SET_licenseurl" value =""/>
       <const name="SET_oaibaseurl" value =""/>
       <const name="SET_allowoai" value ="N"/>
       <const name="SET_conceptsbaseurl" value =""/>
       <const name="SET_creator" value ="meertens"/> <!-- not in MySQL -->
       <const name="SET_uri" value ="???"/>  <!-- not in mysql, changeable when restarting docker and re-migraing the data -->
       
       
       <const name="CALLBACK_NAME" value ="my_Callback1234"/>
       
       <!-- schemata -->
       <const name="SCHEMA_URI_1" value="http://hdl.handle.net/11148/CCR_P-SignLanguage_3ff6f5a8-0587-75b4-3bd5-380d6cbb1b02"/> 
       <const name="SCHEMA_URI_2" value="http://hdl.handle.net/11148/CCR_P-undecided_f1ba0f05-cf64-720d-c95c-68c54d7aaaab"/> 
       
       
              <!-- test institution -->
       <const name="INSTITUTION_CODE" value="meertens"/>
       <const name="INSTITUTION_NAME" value="CLARIN"/>
       <const name="INSTITUTION_URI" value="/???"/> <!-- not in mysql, changeable when restarting docker and re-migraing the data -->
       <const name="INSTITUTION_MAIL" value="clarin@clarin.eu"/>
    </php>
</phpunit>


