<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <php>
        <const name="IP" value = "192.168.99.100"/>
        <const name="TENANT" value="mi"/>
        <const name="USERNAME" value="info@meertens.knaw.nl"/>
        <const name="PASSWORD" value="meertenspassword"/>
        <const name="PHP_JOBS_PROCESS" value ="php /app/tools/jobs.php process"/>
        <const name="CREATOR" value="Userello"/>
    </php>
    <!-- command for running test from the directory "/vendor/phpunit/phpunit": 
    ./phpunit -c /test/OpenSkos2/phpunit.xml /test/OpenSkos2/ImportTest.php -->
</phpunit>

